@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #000;
}

#app {
  width: 100%;
}

@theme {
  --font-inter:   "Inter", sans-serif;
  --font-satoshi: "Satoshi", sans-serif;

  --color-white:        #FFFFFF;
  --color-black:        #000000;
  --color-black-62:     rgba(0, 0, 0, 0.62);
  --color-gray-dark:    #484848;
  --color-gray-dim:     #2C2C2C;
  --color-gray-mid:     #636363;
  --color-gray-soft:    #686868;
  --color-gray-light:   #CACACA;
  --color-gray-pale:    #5E5E5E;
  --color-gray-muted:   #EDEDED;
  --color-bg-dark:      #171717;
  --color-bg-deep:      #21201B;
  --color-bg-rich:      #292929;
  --color-tint-light:   #FAFFFF;
  --color-accent:       #FFC64D;
  --color-green-deep:   #2B5527;
}
